<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocksHtml/head :: head"></head>
<body>
<header th:insert="blocksHtml/header :: header"></header>
<div class="container mt-5" mb-5>
    <h1>Add post</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text"
                   th:value="${el.title}"
                   name="title"
                   placeholder="Insert article title" class="form-control"><br>
            <input type="text"
                   th:value="${el.anons}"
                   name="anons"
                   placeholder="Insert anons title" class="form-control"><br>
            <textarea name="full_text"
                      placeholder="Insert article text"
                      class="form-control"
                      th:text="${el.full_text}"/><br>
            <button type="submit"
                    class="btn btn-success">Update
            </button>
        </form>
    </div>
</div>
<div th:insert="blocksHtml/footer :: footer"></div>
</body>
</html>