<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocksHtml/head :: head"></head>
<body>
<header th:insert="blocksHtml/header :: header"></header>

<div class="container mt-5">
    <h1>Blogs</h1><br>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Find post</button>
    </form>
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a
                th:href="'/blog/' + ${el.id}" class="btn btn-warning">Detailed</a>
    </div>
</div>
<div th:insert="blocksHtml/footer :: footer"></div>

</body>
</html>
